body {
	/*background-image: url('../img/bg-transparent.png');*/

	/*https://leaverou.github.io/css3patterns/#lined-paper*/
	background-color: #fff;
	background-image:
	linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
	linear-gradient(#eee .1em, transparent .1em);
	background-size: 100% 1.2em;

}
::-moz-selection {
	background: #ccc;
}
::selection {
	background: #ccc;
}
.progressbar {
	background-color: #333;
	height: 5px;
	margin: 2px;
}
.col-sm-6, #economy-summary-div {
	border-left: 4px solid #666;
	border-bottom: 4px solid #666;
	/*border-radius: 10px;*/
	background-color: rgba(255,255,255,0.6);
	padding: 16px;
}
.fa-arrow-up {
	color: #393;
}
.fa-arrow-down {
	color: #933;
}
hr {
	border: 1px solid #999;
}
.icon-xs, .icon-sm, .icon-md, .icon-lg {
	/*border: 2px solid #333;*/
}
.icon-md, .icon-lg {
	box-shadow: 4px 4px 0px #333;
	margin-right: 6px;
}
.icon-xs {
	width: 24px;
	border-radius: 3px;
}
.icon-sm {
	margin-right: 2px;
	width: 32px;
	border-radius: 4px;
}
.icon-md {
	margin: 4px;
	width: 48px;
	border-radius: 6px;
}
.icon-lg {
	width: 64px;
	border-radius: 8px;
}
#trade-table td {
	padding: 8px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.nav-tabs {
	border-bottom: 2px solid #999;
}
.nav-link.active, summary {
	border-bottom: 3px solid #abced4 !important;
}

summary {
	font-size: 150% !important;
	margin-bottom: 16px;
}

html {
	scroll-behavior: smooth;
}
#top-btn {
	display: none;
	position: fixed;
	bottom: 25px;
	right: 25px;
	z-index: 99;
}