body {
	background-image: url('../img/bg-transparent.png');
}
::-moz-selection {
	background: #ccc;
}
::selection {
	background: #ccc;
}
.progressbar {
	background-color: #333;
	height: 5px;
	margin: 2px;
}
.col-sm-6 {
	border: 1px solid #666;
	border-radius: 10px;
}
.fa-arrow-up {
	color: #393;
}
.fa-arrow-down {
	color: #933;
}
hr {
	border: 1px solid #999;
}
.icon-xs {
	width: 24px;
}
.icon-sm {
	margin-right: 2px;
	width: 32px;
}
.icon-md {
	margin: 4px;
	width: 48px;
}
.icon-lg {
	width: 64px;
}
#trade-table td {
	padding: 8px;
	padding-top: 4px;
	padding-bottom: 4px;
}
